#view-account-menu-content {
    border-right: none;
    border-left: solid 2px;
    right: 0;
}

#view-account-menu-content .view-plain-text {
    cursor: text;
}

#view-account-menu-content .view-plain-text:hover {
    background-color: #f9f9f9;
}

#view-account-menu-e-mail {
    font-size: small;
    border-bottom: solid 1px;
}