#wertiview-toolbar {
  .hidden {
    display: none;
  }

}

#selections-container {
  font-family: sans;
  font-size: 12px;
  padding: 0px 10px 10px 10px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: white;
  border: 1px solid black;
}
